@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Add Product"; // Set the title for the page
}

<div class="container mt-4">
    <h2 class="text-center">Add Product</h2>
    <form method="post">
        <div class="form-group mb-3">
            <label for="Name">Name</label>
            <input type="text" name="Name" class="form-control" required id="Name" placeholder="Enter product name" />
        </div>
        <div class="form-group mb-3">
            <label for="Description">Description</label>
            <input type="text" name="Description" class="form-control" id="Description" placeholder="Enter product description" />
        </div>
        <div class="form-group mb-3">
            <label for="Price">Price</label>
            <input type="number" name="Price" class="form-control" required id="Price" placeholder="Enter product price" step="0.01" />
        </div>
        <button type="submit" class="btn add-product-btn">Add Product</button>
        <a asp-action="Index" class="btn btn-danger">Cancel</a>
    </form>
</div>
